<script>
    window["aa3"] = {
        indice: "aa3",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa3").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find('.closeReturn').on('click', function() {
                    course.indice = 0;
                    $("body").attr("nav", "go");
                    $("body").trigger("navegacao");
                });

            } else {

            }


        }
    })
</script>


<div class="containerAA3">

    <div class="bloco animated fadeIn delay0_4" px="0" py="0">

        <div class="stepX step1" step=1>
        </div>

    </div>

    <div class="closeXD closeReturn">
        <i class="far fa-times-circle animated infinite pulse"></i>
    </div>

</div>