@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Bold.eot');
    src: url('TradeGothicLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('TradeGothicLT-Bold.woff2') format('woff2'),
        url('TradeGothicLT-Bold.woff') format('woff'),
        url('TradeGothicLT-Bold.ttf') format('truetype'),
        url('TradeGothicLT-Bold.svg#TradeGothicLT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT.eot');
    src: url('TradeGothicLT.eot?#iefix') format('embedded-opentype'),
        url('TradeGothicLT.woff2') format('woff2'),
        url('TradeGothicLT.woff') format('woff'),
        url('TradeGothicLT.ttf') format('truetype'),
        url('TradeGothicLT.svg#TradeGothicLT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

