<script>
    window["aa1"] = {
        indice: "aa1",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa1").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            verifyComplete(_containerTela, course);
            if (_tela.status == false) {
                _tela.status = true;

                controle(_containerTela, course, _tela);

            } else {

            }

        }
    })

    function verifyComplete(_containerTela, course) {

        var _complete = 0;
        if (course.scorm_get_suspendData("tela1")) {
            _complete += 1;
        }
        if (course.scorm_get_suspendData("tela2")) {
            _complete += 1;
        }

        if (_complete == 2) {
            course.completeScorm();
        }

    }

    function scrollStep(_containerTela, _step) {
        var position = _containerTela.scrollTop();

        _containerTela.animate({
            scrollTop: position + _step.offset().top
        }, 300, 'linear');
    }


    function controle(_containerTela, course, _tela) {

        _containerTela.visibleElement(0.2); // jquery - delay pradrão

        _containerTela.find('.videoX').on('playing', function() {

            var _this = this;
            _containerTela.find('.videoX').each(function(indice, item) {
                if (_this != item) {
                    $(item)[0].pause();
                }
            });

        })


        _containerTela.find('.item').on('click', function() {
            var _item = $(this).attr('step');
            var _step = _containerTela.find('.' + _item);
            scrollStep(_containerTela, _step);
        });


        _containerTela.find('.it').on('click', function() {

            var _tela = $(this).attr("tela");

            $.each(course.config, function(indice, item) {

                if ((item.id).toUpperCase() == _tela.toUpperCase()) {

                    course.indice = item.indice;
                    $("body").attr("nav", "go");
                    $("body").trigger("navegacao");
                }
            });

        });

        // setTimeout(function() {
        //     course.completeScorm();
        // }, 1000 * 3);

    }
</script>


<div class="containerAA containerAA1">

    <div class="logoA"></div>
    <div class="menuA up item" step="stepMenu" vw="fadeInUp">
        <i class="fas fa-caret-up"></i> &emsp;MENÚ
    </div>

    <div class="stepHome">
        <div class="mouseX" vw="fadeInUp"></div>

        <div class="stepHomeTxt" vw="fadeInRight">
            <div class="barra" vw="fadeInUp" vw-delay=1></div>

            <div class="ti">PROGRAMA DE DESAROLLO DE LÍDERES DE PLANTA</div>

            <p class="sub">Vivimos en un mundo de cambios acelerados en que las competencias de liderazgo son esenciales para la sustentabilidad de los negocios. En Ternium no es diferente: creemos firmemente que lo que nos diferencia es nuestra gente y su capacidad
                de responder ante estos desafíos.
            </p>
            <p>Ustedes, los Líderes de Planta, tienen un papel clave en el cumplimiento de los objetivos estratégicos cada vez más desafiantes que tenemos por delante. El PDLP ha sido pensado exclusivamente para ustedes, con metodologías de aprendizaje innovadoras
                y contenidos específicos que podrán aplicar a su actividad diaria de manera inmediata.
            </p>
        </div>
    </div>

    <div class="stepMenu center cinza1 bold">
        <div class="titM" vw="fadeIn" vw-delay=0>MENÚ</div>
        <div class="blocM center">
            <div class="icoX icoX1 item" step="section1" vw="zoomIn" vw-delay=0.2>
                <div class="idx"></div>
                <div class="txtX">
                    MENSAJE DE<br> LA GESTIÓN
                </div>
            </div>
            <div class="icoX icoX2 item" step="section2" vw="zoomIn" vw-delay=0.4>
                <div class="idx"></div>
                <div class="txtX">
                    COMPETENCIAS<br> TERNIUM
                </div>
            </div>
            <div class="icoX icoX3 item" step="section3" vw="zoomIn" vw-delay=0.6>
                <div class="idx"></div>
                <div class="txtX">
                    JORNADA DE<br> APRENDIZAJE
                </div>
            </div>
            <div class="icoX icoX4 item" step="section4" vw="zoomIn" vw-delay=0.8>
                <div class="idx"></div>
                <div class="txtX">
                    APRENDIZAJE<br> ACTIVO
                </div>
            </div>
        </div>
    </div>

    <div class="section1">
        <div class="tiXS bold branco" vw="fadeInLeft">
            MENSAJE DE LA GESTIÓN
        </div>

        <div class="seleCX">
            <div class="baseX1">
                <div class="video1X" vw="fadeInLeft" vw-delay=0.3>
                    <video id="video1" class="videoX" controls width="100%" height="100%">
                    <source src="anexos/video1.mp4">
                </video>
                </div>
                <div class="txt1X bold cinza1" vw="fadeInUp" vw-delay=0.4>
                    <h1>
                        La relevancia del programa<br> para Líderes de Planta y<br> Ternium.
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <div class="section2">
        <div class="tiXS bold branco" vw="fadeInLeft">
            COMPETENCIAS TERNIUM
        </div>

        <div class="seleCX" vw="fadeInUp" vw-delay=0.4>
            <div class="baseX1">

                <div class="txt1X branco">
                    <div class="txtDD">
                        Las competencias guían los conocimientos, las habilidades y las actitudes esperadas en la operación y la gestión de Ternium.
                    </div>
                    <div class="txtDD subDD">
                        Tales competencias han sido una de las bases para el desarrollo del PDLP y deben practicarse y permanecer siempre vivas en el día a día.
                    </div>
                    <div class="mouseXS it" tela="AA2">
                        <div class="animated infinite pulse"></div>
                    </div>
                </div>

                <div class="video1X" vw="zoomIn" vw-delay=0.8>
                    <video id="video2" class="videoX" controls width="100%" height="100%">
                    <source src="anexos/video1.mp4">
                </video>
                </div>

            </div>
        </div>

    </div>


    <div class="section3">
        <div class="tiXS bold branco" vw="fadeInLeft">
            JORNADA DE APRENDIZAJE
        </div>

        <div class="seleCX">
            <div class="baseX1">

                <div class="txt1X branco" vw="fadeInUp" vw-delay=0.4>
                    <div class="blocoXDBarra"></div>
                    <div class="blocoXD">
                        Teniendo en cuenta el Modelo Educativo Ternium, la propuesta de aprendizaje para el PDLP se centra principalmente en los Resultados, la Experiencia y <br>en un Proceso de Desarrollo Continuo.
                    </div>

                    <div class="mapaD">

                        <div class="mapaImg it" tela="AA3"></div>
                        <div class="mapaPDF">
                            <div class="icoPDF">
                                <div class="icoSD"></div>
                            </div>
                            <div class="txtPDF">
                                Haga clic en la imagen para ampliar o en el icono al lado para descargar el archivo PDF.
                            </div>
                            <a href="anexos/modelo.pdf" download></a>
                        </div>

                    </div>

                </div>

                <div class="imgX" vw="zoomIn" vw-delay=0.8>

                </div>

            </div>
        </div>

    </div>

    <div class="section4">
        <div class="tiXS bold branco" vw="fadeInLeft">
            APRENDIZAJE ACTIVO
        </div>

        <div class="seleCX" vw="fadeInUp" vw-delay=0.4>
            <div class="baseX1">

                <div class="txt1X branco">
                    <div class="txtDD">
                        Para que su jornada sea aún más productiva y efectiva, le proponemos que a lo largo de su desarrollo, después de la capacitación en cada uno de los temas, registre qué y cómo está poniendo en práctica lo aprendido.
                    </div>
                    <div class="mouseXS it" tela="AA4">
                        <div class="animated infinite pulse"></div>
                    </div>
                </div>

                <div class="video1X" vw="zoomIn" vw-delay=0.8>
                    <video id="video3" class="videoX" controls width="100%" height="100%">
                    <source src="anexos/video3.mp4">
                </video>
                </div>

            </div>
        </div>

    </div>



    <div class="section5">
        <div class="stepTxt" vw="fadeInLeft" vw-delay=0.2>
            <div class="ti bold">
                PROTAGONISMO
            </div>
            <div class="sub">
                La dedicación, la actitud activa y el protagonismo son fundamentales para que el proceso de aprendizaje sea efectivo y tenga un impacto positivo tanto para la rutina como para el crecimiento profesional y personal de cada individuo.
            </div>
        </div>
        <div class="stepTxt2 bold" vw="fadeInUp" vw-delay=0.8>
            ¡Esperamos que su jornada de aprendizaje sea una experiencia única y memorable!
        </div>
    </div>


</div>