<script>
    window["aa4"] = {
        indice: "aa4",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa4").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find('.closeReturn').on('click', function() {

                    course.scorm_set_suspendData("tela2", 1);

                    course.indice = 0;
                    $("body").attr("nav", "go");
                    $("body").trigger("navegacao");
                });

            } else {

            }


        }
    })
</script>


<div class="containerAA4">

    <div class="bloco animated fadeIn delay0_4" px="0" py="0">

        <div class="stepX branco">
            <div class="tiX bold animated fadeInUp delay0_4">
                <div>
                    Al final de cada tema, es importante que indique cómo han sido sus prácticas diarias, las cuales deben guiarse por los valores y las competencias Ternium.
                </div>
                <div>
                    Preguntas que podrá contestar:
                </div>
            </div>
            <div class="list">
                <div class="itemX itemX1">
                    <div class="icoD animated zoomIn delay1_0">
                        <div class="ias"></div>
                    </div>
                    <div class="txtD animated fadeInRight delay1_2">
                        ¿Cuáles fueron los puntos más relevantes para su día a día?
                    </div>
                </div>

                <div class="itemX itemX2">
                    <div class="icoD animated zoomIn delay1_4">
                        <div class="ias"></div>
                    </div>
                    <div class="txtD animated fadeInRight delay1_6">
                        ¿Cuáles son los cambios o las mejoras que planea alcanzar?
                    </div>
                </div>

                <div class="itemX itemX3">
                    <div class="icoD animated zoomIn delay1_8">
                        <div class="ias"></div>
                    </div>
                    <div class="txtD animated fadeInRight delay2_0">
                        ¿Cuáles son los impactos percibidos a partir de la práctica de lo que ha aprendido?
                    </div>
                </div>

                <div class="itemX itemX4">
                    <div class="icoD animated zoomIn delay2_2">
                        <div class="ias"></div>
                    </div>
                    <div class="txtD animated fadeInRight delay2_4">
                        Haga registros semanales de sus retos y evolución.
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="closeXD closeReturn animated zoomIn delay2_6">
        <i class="far fa-times-circle animated infinite pulse"></i>
    </div>

</div>